[data-component="applications/spectra"]
  -webkit-overflow-scrolling touch


[data-component="pane"][data-component-name="spectra"] .body
  height 50vh
  overflow scroll
  overflow-x hidden

  .hero-link
    display block
    text-decoration none
    border none

    &.with-image img
      width 100%
      max-width 600px
      border 2px dashed #c7c7c7
      display block
      margin 0 auto
      padding 2px
