[data-component="applications/catastrophe"]
  background-color white
  background-image url("~images/confetti.png")
  background-size 10px
  background-repeat repeat
  color black
  display block
  height 100vh

  & > header
    background-color: white
