json("theme.json")

[data-component="icons"]
  display flex
  flex-flow column wrap-reverse
  position absolute
  right 0
  top 0
  align-items flex-end
  max-height 43vh
  align-content flex-start
  margin 10px

  .application
    align-items center
    display flex
    flex-direction column

    font-family font-serif

    padding 6px

    .icon
      align-items center
      justify-content center
      display flex
      font-size 66px
      font-weight bold
      border 3px dotted hsl(0, 0%, 92%)

      background-color hsla(0, 0%, 100%, 0.8)
      height 50px
      width 50px

      &hove
        background-color  hsla(0, 0%, 97%, 0.8)

      &activ
        background-color  hsla(0, 0%, 96%, 0.8)

  .icon-letter
    .secondary
      font-size .75em
      color teal-dark
      margin-left 1.5px

  .icon-wrapper
    display flex
    flex-flow column
    align-items center
    min-width 3.5em

    .title
      background hsla(0, 0%, 100%, .9)
      line-height 0.7
      margin-top .3em
      padding 0 .2em
