json("theme.json")

[data-component="applications/entries"]
  table
    text-align left
    width 100%

    tbody .entry-number
      padding-right 18px

    tbody .entry .link
      display block
      margin-right .4em
