json("theme.json")

[data-component="synchronize-bar"]
  align-items center
  flex-direction row
  background-color white
  justify-content space-between

  .label
    font-family sans-serif
    font-size 14px
    line-height 1
    padding-bottom 4px

  .label + .bar
    margin-left: 8px

  .bar
    height 5px
    flex-grow 1
    background-size 4px 100%
    background-image repeating-linear-gradient(
        to right,
        teal-dark,
        red-base 1px,
        white 2px,
        white 4px)

  &[data-strength="1"] .bar
    background-image repeating-linear-gradient(
    to right,
    teal-dark,
    red-base 1px,
    white 2px,
    white 4px)

  &[data-strength="2"] .bar
    background-image repeating-linear-gradient(
    to right,
    teal-dark,
    red-base 2px,
    white 2px,
    white 5px)

  &[data-strength="3"] .bar
    background-image repeating-linear-gradient(
    to right,
    teal-dark,
    red-base 3px,
    white 2px,
    white 4px)

  &[data-strength="4"] .bar,
  &[data-strength="5"] .bar,
  &[data-strength="6"] .bar
    background-image repeating-linear-gradient(
        to right,
        teal-light,
        teal-light 1px,
        red-base 2px,
        red-base 4px)

  &[data-strength="7"] .bar,
  &[data-strength="8"] .bar,
  &[data-strength="9"] .bar
    background-image repeating-linear-gradient(
        to right,
        teal-base,
        teal-base 1px,
        white 2px,
        white 4px)
